ul{
    list-style: none;
    padding: 0;
}
  
li{
    margin: 10px 0;
}
  
li span{
    display: inline-block;
    width: 60%;
    color: rgb(82, 19, 19);
}
  
li > button:first-of-type{
    background: #6a6a;
    color: #fff;
    width: 19%;
    margin: 2%;
}
  
li > button:last-of-type{
    background: #d9534f;
    color: #fff;
}
 