.textCenter{
    text-align: center;
    margin: auto;
    width: 80%;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
}


.list-inline{
    list-style: none;
    padding: 0;
    display: inline;
}
  

li span{
    display: inline-block;
    color: rgb(241, 11, 11);
    padding: 16px 10px;
    margin-right: 12px;
    
}
  
.editButton{
    background: #6a6a;
    color: #fff;
    width: 11%;
    margin-right: 2%;  
}

.deleteButton{
    background: #d9534f;
    color: #fff; 
    width: 11%;
    margin-right: 2%;  

}

.list-inline .replyButton{
    background: #001bb3;
    color: #fff; 
    width: 24%; 
    margin-right: 2%;
    margin-top: 3px; 

}
